@media (max-width: 650px) {
  .header h1 {
    width: 60% !important;
    font-size: $x-large !important;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 1px;
  }
  .navbar-brand {
    width: 25%;
  }
  .navbar-brand img {
    width: 100% !important;

  }
  .main p:last-child {
    font-size: $small;
  }
  .rounded-pill {
    font-size: $small;
  }
  .about-me {
    text-align: center;
  }
}