@media (max-width: 490px) {
  .header h1 {
    width: 75% !important;
    font-size: $x-large !important;
    text-align: center;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-brand {
    width: 25%;
  }
  .navbar-brand img {
    width: 100% !important;

  }

  .main p:last-child {
    font-size: $small;
  }
}